body {
    margin: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: grey;  
}

.left {
    height: 100vh;
    width: 50px;
    background-color: rgb(92, 92, 92);
    display: inline-flex;
}

.right {
    height: 100vh;
    width: 50px;
    background-color: rgb(92, 92, 92);
    float: right;
}

.footer {
    width: 100%;
    background-color: grey;
    height: 40px;
    display: inline-flex;
    margin: 0px;
}
